<?xml version="1.0" encoding="UTF-8"?>
<!-- #%L %% Copyright (C) 2015 - 2016 Trustsystems Desenvolvimento de Sistemas, 
	LTDA. %% Redistribution and use in source and binary forms, with or without 
	modification, are permitted provided that the following conditions are met: 
	1. Redistributions of source code must retain the above copyright notice, 
	this list of conditions and the following disclaimer. 2. Redistributions 
	in binary form must reproduce the above copyright notice, this list of conditions 
	and the following disclaimer in the documentation and/or other materials 
	provided with the distribution. 3. Neither the name of the Trustsystems Desenvolvimento 
	de Sistemas, LTDA. nor the names of its contributors may be used to endorse 
	or promote products derived from this software without specific prior written 
	permission. THIS SOFTWARE IS PROVIDED BY THE COPYRIGHT HOLDERS AND CONTRIBUTORS 
	"AS IS" AND ANY EXPRESS OR IMPLIED WARRANTIES, INCLUDING, BUT NOT LIMITED 
	TO, THE IMPLIED WARRANTIES OF MERCHANTABILITY AND FITNESS FOR A PARTICULAR 
	PURPOSE ARE DISCLAIMED. IN NO EVENT SHALL THE COPYRIGHT HOLDER OR CONTRIBUTORS 
	BE LIABLE FOR ANY DIRECT, INDIRECT, INCIDENTAL, SPECIAL, EXEMPLARY, OR CONSEQUENTIAL 
	DAMAGES (INCLUDING, BUT NOT LIMITED TO, PROCUREMENT OF SUBSTITUTE GOODS OR 
	SERVICES; LOSS OF USE, DATA, OR PROFITS; OR BUSINESS INTERRUPTION) HOWEVER 
	CAUSED AND ON ANY THEORY OF LIABILITY, WHETHER IN CONTRACT, STRICT LIABILITY, 
	OR TORT (INCLUDING NEGLIGENCE OR OTHERWISE) ARISING IN ANY WAY OUT OF THE 
	USE OF THIS SOFTWARE, EVEN IF ADVISED OF THE POSSIBILITY OF SUCH DAMAGE. 
	#L% -->
<!-- <configuration> <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender"> 
	<encoder> <charset>UTF-8</charset> <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level 
	%logger{0} - %msg%n</pattern> </encoder> </appender> <logger name="br.com.trustsystems.elfinder" 
	level="DEBUG"/> <logger name="org.springframework" level="INFO"/> <root level="INFO"> 
	<appender-ref ref="STDOUT"/> </root> </configuration> -->
<configuration>
	<property name="DEV_HOME_LOCAL" value="D:/dev-env/jboss/wildfly-9.0.2.Final/standalone/log" />
	<property name="DEV_HOME_OPENSHIFT" value="/var/lib/openshift/574b9f757628e128170000b6/wildfly/standalone/log" />
	<property name="DEV_HOME" value="/var/lib/openshift/574b9f757628e128170000b6/wildfly/standalone/log" />
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<charset>UTF-8</charset>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0}.%M - %msg%n
			</pattern>
		</encoder>
	</appender>

	<appender name="FILE" class="ch.qos.logback.core.FileAppender">
		<file>${DEV_HOME}/vstorage.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0}.%M - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>
	
	<appender name="FILE2" class="ch.qos.logback.core.FileAppender">
		<file>${DEV_HOME}/vstorage.json.log</file>
		<append>true</append>
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>debug</level>
		</filter>
		<encoder>
			<pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{0}.%M - %msg%n
			</pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/archived/debug.%d{yyyy-MM-dd}.%i.json.log
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>10MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
		</rollingPolicy>
	</appender>

	<logger
		name="br.com.trustsystems.elfinder.web.controller.ConnectorController"
		level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger
		name="br.com.trustsystems.elfinder.core.impl.googledriver.GoogleDriveVolume"
		level="DEBUG">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>
	<logger name="br.com.trustsystems.elfinder.command.AbstractJsonCommand"
		level="DEBUG">
		<appender-ref ref="FILE2" />
	</logger>
	<logger name="br.com.trustsystems.elfinder.command.OpenCommand"
		level="DEBUG">
		<appender-ref ref="FILE2" />
	</logger>
	

	<logger name="org.springframework" level="ERROR">
		<appender-ref ref="FILE" />
		<appender-ref ref="STDOUT" />
	</logger>

	<root level="ERROR">
		<appender-ref ref="FILE" /> 
		<appender-ref ref="STDOUT" />
	</root>

</configuration>
